# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f841fc9d9d9a436330015965c79135e7a211b2edf21e15f0745fee35fb9c3596f2631163d8486b600a7b3eea7662b30dbfdcf78254f8f00c61a15b1996048605

test:
  secret_key_base: fdc24949316ebe7c7f2d1aad248631b3311ca7a42dd0f3e2d4c6787950cebdac64cf3b6b310e29d9629272c260b994dd857c3b5bb24abaf999497172f6cab9c6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
